*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	color: #000;
}

body{
	background: radial-gradient(#da6, #b84);
}

a{
	text-decoration: none;

}

li{
	list-style: none;
}

.nav-container{
	width: 100%;
}

.nav{
	background: radial-gradient(#c72, #422);
	padding: 20px;
}

.nav__ul h1{
	color: #fbc02d;
}

.nav__ul li{
	display: inline-block;
	margin: 0 20px;
	font-size: 18px;
}

.nav__ul a{
	color: #fff;
}

.nav__ul a:hover{
	padding-bottom: 4px;
	border-bottom: 3px solid #d95;
}

.container{
	width: 960px;
	margin: auto;
}

.section__article{
	width: 100%;
}

.section__article-model{
	display: flex;
	background: #c84;
	padding: 10px;
	border-radius: 13px;
	margin: 40px 0;
}

.section__article-model img{
	background: #fff;
	border-radius: 30%;
	border: 5px solid #444;
	margin: 10px 15px;
	display: flex;
	width: 300px;
	height: 370px;
}

.section__article-model-info {
	display: inline-block;
	text-align: center;
	padding: 30px;
}

.section__article-model-info  h2{
	text-decoration: underline;
	font-size: 35px;
}

.section__article-model-info p{
	margin-top: 20px;
	text-align: left;
	padding: 50px;
}

.section__article-model-info span{
	display: inline-block;
	margin-top: 60px;
	color: #a44;
}

.two img{
	order: 2;
	width: 370px;
	height: 440px;
}

.two p{
	padding: 20px;
}


.social{
	background: #c84;
	text-align: center;
	width: 150px;
	margin: 15px auto;
	padding: 14px;
}

.social li{
	font-size: 40px;
	display: inline-block;
	margin: 0 15px;
}


.footer{
	margin: 40px auto;
	display: inline-block;
	width: 100%;
}

.footer p{
	text-align: center;
	color: #545454;
}
