*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body{
	background: radial-gradient(#da6, #b84);
}

.nav-container{
	width: 100%;
}

.nav{
	background: radial-gradient(#c72, #422);
	padding: 13px;
}

.nav__ul{
	padding: 5px;
	margin: 4px;
}

.nav__ul h1{
	color: #fbc02d;
}

.nav__ul li{
	display: inline-block;
	margin: 0 20px;
	font-size: 18px;
	list-style: none;
}

.nav__ul a{
	text-decoration: none;
	color: #fff;
}

.nav__ul a:hover{
	padding-bottom: 4px;
	border-bottom: 3px solid #d95;
}

.container{
	
	width: 1150px;
	margin: auto;
	padding: 40px;
}

.section__article-model{
	width: 100%;
	display: flex;
	text-align: right;
	background: #c84;
	padding: 20px;
	border-radius: 13px;
	margin: 0 0 50px 0;
}

.section__article-model img{
	width: 340px;
	background: #fff;
	border-radius: 30%;
	border: 5px solid #444;
	object-fit: cover;
	object-position: center;
	margin: 10px 30px;
}

.section__article-model-info {
	width: 100%;
	text-align: center;
	padding: 30px;
}

.section__article-model-info  h2{
	text-decoration: underline;
	font-size: 35px;
}

.section__article-model-info p{
	margin-top: 20px;
	text-align: left;
	padding: 50px;
}

.section__article-model-info span{
	display: inline-block;
	margin-top: 90px;
	color: #a44;
}

.two img{
	order: 2;
	width: 400px;
	height: 480px;
}

.two p{
	padding: 20px;
}

.footer{
	margin-top: 40px;
	display: inline-block;
	width: 100%;
}

.footer p{
	text-align: center;
	color: #545454;
}
